:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --grey: grey;
  --darkgrey: rgb(105, 104, 104);

  --switch-on: var(--grey);
  --theme-background: var(--grey);
  --theme-foreground: var(--white);

  --ex-small: 3px;
  --small: 5px;
  --radius-small: 5px;
  --medium: 10px;
  --large: 25px;
  --ex-large: 50px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--theme-background);
  color: var(--theme-foreground);
}

header {
  margin: auto;
  display: flex;
  position: relative;
  min-height: 15vh;
  max-width: 1000px;
}

main {
  margin: auto;
  display: grid;
  grid-template-columns: minmax(150px, 300px) minmax(400px, 1fr) minmax(
      150px,
      300px
    );
  gap: var(--medium);
  max-width: 1000px;
}

header h1 {
  margin: auto;
  text-align: center;
  padding-left: var(--ex-large);
}

input#theme-switch {
  position: relative;
  appearance: none;
  outline: none;
  width: 50px;
  height: 30px;
  top: 6vh;
  right: var(--large);
  background-color: var(--white);
  border: 1px solid var(--grey);
  border-radius: 50px;
  box-shadow: inset -20px 0 0 0 var(--white);
  transition: all 0.5s;
  cursor: pointer;
}

input#theme-switch::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 26px;
  height: 26px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

input#theme-switch:checked {
  border-color: var(--switch-on);
  box-shadow: inset 20px 0 0 0 var(--switch-on);
}

input#theme-switch:checked::after {
  left: 20px;
  box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
}

#songs {
  border-top-right-radius: var(--radius-small);
  border-bottom-right-radius: var(--radius-small);
  padding: var(--small);
}

#songs h3 {
  margin-top: var(--medium);
}

#song-list .song {
  background-color: var(--blue);
  border-radius: var(--small);
  height: var(--large);
  margin-top: var(--small);
  padding-left: var(--small);
  padding-top: var(--ex-small);
  color: var(--white);
  cursor: pointer;
}

#player-container {
  border-radius: var(--radius-small);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#player-container img{
  width: 100%;
  border-top-left-radius: var(--radius-small);
  border-top-right-radius: var(--radius-small);
}

#player{
margin-top: var(--large);
}

#playlist {
  border-top-left-radius: var(--radius-small);
  border-bottom-left-radius: var(--radius-small);
  padding: var(--small);
}

.column {
  position: relative;
  background-color: var(--white);
  background-color: transparent;
  min-height: 80vh;
  box-shadow: 0 0 10px 1px var(--darkgrey);
}
